.container {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    background-color: pink;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-1 p {
    color: white;
    background-color: black;
}

.flex-2 {
    background-color: lightblue;
    width: 200px;
}