.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 8px 10px;
    border: solid 1px rgb(241, 235, 235);
    border-radius: 5px;
}

.items {
    display: flex;
    padding: 3px;
    flex-direction: row;
    justify-content: space-between;
}

.title,
.count {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.count {
    background-color: blue;
    color: white;
    padding: 8px 8px;
    border-radius: 20px;
}